body{
	margin:0;
	padding:0; 
	background-color: #eee;
}
.container {
	border: 1px solid #999;
	width: 100%;
	height: 400px;
}

.row {
   width: 100%;
   display: block;
   overflow:hidden;  
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
  
}
[class*='col-'] {
	float: left;
	display: block;
	padding: 0px;
	margin:20px 0 0 20px; 
	box-sizing: border-box;
	border: 1px solid #999;
	height:50px;
}
 /*清除浮动闭合容器*/ 
.clearfix:before, .clearfix:after {  
    content:"";  
    display:table;  
}  

.clearfix:after{  
    clear:both;  
    overflow:hidden;  
}  
/*ie6+7*/
/*.clearfix{  
    *zoom:1;  
}
*/
 /*当屏幕宽度大于768px时*/
@media only screen and (min-width: 769px) {

.col-md-1 {
	width: 7%;
}
.col-md-2 {
	width: 14%;
}
.col-md-3 {
	width: 21%;
}
.col-md-4 {
	width: 28%;
}
.col-md-5 {
	width: 35%;
}
.col-md-6 {
	width: 42%;
}
.col-md-8 {
	width: 56%;
}
}
@media only screen and (max-width: 768px) {

.col-sm-2 {
	width: 14%;
}
.col-sm-3 {
	width: 21%;
}
.col-sm-6 {
	width: 42%;
}
.col-sm-8 {
	width: 56%;
}
.col-sm-12 {
	width: 84%;
}
}

